body{
 background-image: url(picture/design.jpg);
background-position-x: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
color: rgb(0, 0, 0);
background-position-x: center;
  
}

div{
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;

}
div.information{
    text-align: left;
    text-align: justify;
    padding-top: 0;
}
.main{
padding: 100px;
font-size: larger;
font-family: Arial;
color: rgb(0, 0, 0);
}
button{
    text-align: left;
    word-spacing: 15px;
    margin: 10px;
    border: 10px;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-family: 'Segoe UI';
}
.cat img{
    width: 200px;
    height: 200px;
    align-items: center;
   font-size: 100px;
   word-spacing: normal;
   font-family: Arial;
}
.burger{
    cursor: pointer;
  display: none;
}
.burger{
    display: none;
    list-style: none;
  flex-direction: column;
  background-color: #444;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
@media  (max-width:480px){} 
@media  (max-width:768px) {.burger {display: block;}

}
.button{
    cursor: pointer;
    display: none;
}
div{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

}
}
@media  (min-width:601)and (max-width:768px){  }
@media  (min-width:768)and (max-width:1024px){ }
@media  (min-width:1025)and (max-width:1280px){  }
@media  (min-width:1281px){ }
@media  (min-width:1600px){ }